<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <div id="branding">
                <h1>Biblioteca</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('manejar_libros') }}">Libros</a></li>
                    <li><a href="{{ url_for('manejar_usuarios') }}">Usuarios</a></li>
                    <li><a href="{{ url_for('gestionar_prestamos') }}">Prestamos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block contenido %}
        {% endblock %}
    </div>

    <footer>
        <p>Biblioteca &copy; 2024</p>
    </footer>

</body>
</html>
